.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.pane {
    border: 1px solid #333333;
    padding: 10px 10px;
    min-height: 100px;
    max-height: 100%;
    width: 200px;
    background: #565656;
}
.settings-title {
    color: #eaf3f6;
    font-weight: bold;
    margin: 0px 5px 8px 5px;
    font-size: 12px;
}
.settings-element {
    margin: 0px 5px 2px 5px;
}
.settings-element label {
    display: block;
    color: #eaf3f6;
    font-size: 10px;
    margin-bottom: 2px;
}
.settings-text {
    background: #3a3a3a;
    color: #eaf3f6;
    border: none;
    padding: 5px 10px;
    box-shadow: inset 0 0 5px #000000;
}
.settings-text:focus {
    outline-width: 1px;
    background: #eaf3f6;
    color: black;
}
.color-box {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    cursor: pointer;
}
.settings-color {
    position: relative;
}
.settings-color .sketch-picker {
    position: absolute;
    top: 37px;
    left: 0px;
}

.player {
text-align: center;
}
.frames-slider {
    display: inline-block;
    margin: 0 auto;
}
.play-button {
    display: inline-block;
    background: #333;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    margin: 4px;
    outline: none;
}
.play-icon {
    display: block;
    margin-left: 5px;
}
.play-icon:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
}

.record-icon {
    display: block;
    margin-left: 3px;
}
.record-icon:after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: red;

}


.progress {
color: white;
font-size: 10px;
}

