body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #565656;
}

#giffo {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
}

canvas {
    display: block;
    margin: 0 auto;
    background: url(./imgs/transparent-bg.png);
    background-size: 7px 7px;
}

.property-label, .frames-label, .layer-label {
    width: 100px;
    display: inline-block;
}
.property-timeline, .layer-timeline {
    display: inline-block;
    position: relative;
}
.property-keyframes {
    position: relative;
    width: 600px;
}

.keyframe {
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #aca9c6;
    background: #f9e639;
    width: 7px;
    height: 7px;
    transform: rotateZ(45deg);
    box-shadow: -1px -1px 0 #424066;
}
.frames {
    display: inline-block;
}
.layer-details {
    height: 42px;
}
.layer-timeline {
    height: 42px;
    vertical-align: middle;
}
.layer-duration {
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    vertical-align: top;
    background-color:#7c5fb0;
    margin: 1px;
}

.layer-details {
    background: gray;
}

.layer-duration .dragHandle {
    position: absolute;
    background: yellow;
    width: 10px;
    height: 100%;
    top: 0;
}

.layer-duration .dragHandle:nth-child(1) {
    left: 0;
    cursor: grab;
}

.layer-duration .dragHandle:nth-child(2) {
    right: 0;
    cursor: grab;
}
